/* style.css */
/* Programmé par Lucas Comtois */
/* 2019-11-21 */

body
{
    width: 900px;
    margin: auto;
    background: grey url("../medias/bg.png") no-repeat center top;
    color: #000000;
}
a
{
    color: deepskyblue;
    text-decoration: none;
}
a:hover
{
    color: red;
    text-decoration: underline;
}
a:visited
{
    color: darkblue;
    text-decoration: none;
}
h1,h2{
    color: darkgreen;
    text-align: center;
}
h1
{
    font-size: 36px;
}
h2
{
    font-size: 24px;
}
p
{
    font-size: 14px;
    text-align: justify;
}
img
{
    width: 300px;
    border-radius: 5px;
}
img:hover
{
box-shadow: black;
}
table
{
    border-width: 5px;
    border-color: blue;
}
th
{
    font-size: 20px;
}
li
{
font-size: 18px;
    color: orangered;
}